{% extends 'hw4/base.html' %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-group">
            <div class="card">
                <div class="card-header">
                    Delete Task
                </div>
                <div class="card-body">
                    <div class="card-title">Are you sure that you want to delete
                        <span style="color: #fe6993; background-color:rgba(254,105,147,0.1);" id="delete-task-text">
                            {{ task.task }}</span>?
                    </div>
                    <div class="d-inline-flex flex-row justify-content-start">
                        <div class="col-7">
                            <a href="{% url 'index' %}" class="btn btn-info text-white">No, go back</a>
                        </div>
                        <div class="col">
                            <button class="btn btn-danger" type="submit">Yes, delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}